.container {
  //@include center-block();
  width: 100%;
  height: 100%;
  //max-width: 1200px;
  display: flex;
  //padding: 0 6.25rem;
  overflow: hidden;
  margin: 0 auto;
  
}
.profile-area{
  border-right: 1px solid #E6EBEF;
  flex: 1.5;
  width: 100%;
  height: 100%;
  //background-color: orchid

}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
  &--thumbnail{
    
    //background-color: orange;
    padding-top: 12rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    //padding-bottom: 0;
  }

   &--headline{
     //background-color: greenyellow;
     text-align: center;
     padding-left: 2.5rem;
     padding-right: 2.5rem;

  }

  &--headline p {
    padding-bottom: 1.25rem;
  }

}

.cameron{
  width: 15rem;
}

.project-area {
  //background-color: red;
  flex: 3;
}



.scroll-area {
  position: relative;
  padding-top: 1.875rem;
  will-change: transform;
  //background-color: aqua;
}

.project-cards {
  padding: 0 10.875rem 0 1.875rem;
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  //background-color: lime;
  

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }
}
