.logo {
  top: 1.875rem;
  left: 1.875rem;
  width: 3.125rem;

  @media (max-width: 1240px) {
    width: 5rem;
  }
}
.nav-link {
  position: absolute;
  font-family: $nav-font;
  font-size: 1.375rem;
  text-decoration: none;
  padding: 1rem;
  z-index: 2;
  transition: color 0.4s, filter 250ms;
  transition-delay: 0.2s;

  &--active {
    @include active();
  }

  span {
    position: relative;
    display: inline-block;
    @include hover-glitch($green, $pink, 0.3s);

    span {
      transition: color 250ms;
      position: relative;
      z-index: 1;
    }
  }

  @media (max-width: 1240px) {
    font-size: 1.25rem;
  }

  &--home {
    top: 1.875rem;
    left: 1.875rem;
    height: 6.25rem;
    width: 6.25rem;

    @media (max-width: 1240px) {
      width: 5rem;
    }

    @media (max-width: 700px) {
      top: 1.25rem;
      left: 1.25rem;
    }
  }

  &--about {
    top: 1rem;
    right: 1.875rem;

    @media (max-width: 1240px) {
      top: 1.25rem;
    }

    @media (max-width: 700px) {
      top: 0.9375rem;
      right: 1.25rem;
    }
  }

  &--contact {
    bottom: 0.75rem;
    left: 1.875rem;

    @media (max-width: 700px) {
      left: 1.25rem;
    }
  }

  &--resume {
    bottom: 0.75rem;
    right: 1.875rem;

    @media (max-width: 700px) {
      right: 1.25rem;
    }
  }
}
