/* -----
Typography, WebFonts
----- */

@font-face {
  font-family: "Apercu Mono";
  src: url("../assets/fonts/Apercu\ Mono.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apercu";
  src: url("../assets/fonts/Apercu\ Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Light";
  src: url("../assets/fonts/Apercu\ Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fortescue Regular";
  src: url("../assets/fonts/fortescue-regular.otf");
  font-weight: normal;
  font-style: normal;
}
